##################################################
# Git ignore policy
# 1. We should keep this file as short as possible
# 2. We should avoid add any *.filetype directly.
# 3. TODOs mean they are current status before git migration, we should not add any todo after git migration

##################################################

/build/*
/bin/*
/.vscode/ipch/*